{% extends "base.html" %}

{% block title %}{{ material.title }}{% endblock %}

{% block content %}
    <a href="{% url "main_app:all_materials" %}">All materials</a>
    <h1>My Materials</h1>
    <h2>{{ material.title }}</h2>
    <p>{{ material.body }}</p>
    Author {{ material.author }} published {{ material.publish }}<br>
     <p>
        <a href="{% url "main_app:share_material" material.id %}">Share material</a>
    </p>
    <p>
        {% with material.comments.count as total_comments %}
            {{ total_comments }} comment {{ total_comments|pluralize }}
        {% endwith %}
        {% for comment  in material.comments.all %}

        <p>
            Comment: {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
            {{ comment.body }}
        </p>

    {% endfor %}
    </p>
    <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Comment">
    </form>
{% endblock %}
